<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peras al Malbec</title>
</head>
<body>
    <h1>PERAS AL MALBEC</h1>
    <p>Esta receta de peras al malbec es creada por Paulina Cocina</p>
    <hr>
    <h3>Ingredientes</h3>
    <ul>
        <li>4 peras maduras pero firmes </li>
        <li>1 botella de vino malbec</li>
        <li>200 g de azúcar</li>
        <li>1 rama de canela</li>
        <li>3 estrellas de anís</li>
        <li>1 cáscara de naranja</li>
    </ul>
    <hr>
    <h3>Preparacion</h3>
    <ol>
        <li>Pelar las peras, dejando el cabo intacto.</li>
        <li>En una olla profunda, combinar el malbec, el azúcar, la canela, las estrellas de anís y la cáscara de naranja. Llevar a ebullición y reducir el fuego a fuego lento.</li>
        <li>Agregar las peras a la mezcla y cocinar a fuego lento durante 30-40 minutos, hasta que estén tiernas. Tienen que quedar paradas en lo posible y cubiertas por el líquido.</li>
        <li>Servir las peras en copas, acompañadas por el almíbar de vino.</li>
    </ol>
    <hr>
    <h3>Receta original de Pulina Cocina</h3>
    <a href="https://www.paulinacocina.net/receta-de-peras-al-vino-tinto/35311">
        <ul>
            <li>Receta de Paulina Cocina</li>
        </ul>
    </a>
    <hr>
    <h3>Otras recetas</h3>
    <a href="pastelDePapa.html">
        <ul>
            <li>Pastel de papa</li>
        </ul>
    </a>
    <a href="../../index.html">
        <ul>
            <li>Volver al inicio</li>
        </ul>
    </a>
</body>
</html>