<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Pastel de Papa</title>
</head>
<body>
    <h1>PASTEL DE PAPA</h1>
    <img src="../img/pastel-de-papa.jpg" alt="Pastel de Papa">
    <p>Este es el pastel de papa que hace Santiago en su casa</p>
    <hr>
    <h3>Ingredientes</h3>
    <ul>
        <li>Papa</li>
        <li>Carne molida</li>
        <li>Huevo</li>
        <li>Queso</li>
        <li>Cebolla</li>
        <li>Leche</li>
        <li>Condimentos</li>
        <li>Masa(opcional)</li>
        <ul>
            <li>Harina 000</li>
            <li>Agua</li>
            <li>Aceite</li>
            <li>Sal</li>
        </ul>
    </ul>
    <hr>
    <h3>Preparacion</h3>
    <ol>
        <li>Cortar cebolla en cuadraditos</li>
        <li>Deflemar</li>
        <li>Cocinar carne molida</li>
        <li>Mezclar cebolla con la carne molida</li>
        <li>Pelar las papas</li>
        <li>Poner a hervir las papas</li>
        <li>Poner huevos a hervir</li>
        <li>Una vez las papas estén blandas, hacer puré</li>
        <li>Hacer masa (opcional)</li>
        <ol>
            <li>Colocar harina en un bowl</li>
            <li>Colocar agua</li>
            <li>Colocar aceite</li>
            <li>Colocar sal</li>
            <li>Colocar condimento para saborizar (opcional), puesen ser:</li>
            <ul>
                <li>Oregano</li>
                <li>Aji molido</li>
            </ul>
            <li>Estirar masa</li>
        </ol>
    </ol>
    <hr>
    <h3>Armado</h3>
    <ol>
        <li>Colocar masa en un molde</li>
        <li>Colocar el picadillo</li>
        <li>Colocar huevo en pedacitos</li>
        <li>Colocar pure hasta cubrir todo</li>
        <li>Colocar Queso</li>
        <li>Cocinar por 30 min en horno precalentado a 180°</li>
    </ol>
    <hr>
    <h3>Receta de Pulina Cocina</h3>
    <a href="https://www.paulinacocina.net/pastel-papas-osobuco-economico/12170">
        <ul>
            <li>Receta de Paulina Cocina</li>
        </ul>
    </a>
    <iframe width="695" height="391" src="https://www.youtube.com/embed/2dK_dtOMbyg" title="PASTEL DE PAPA NIVEL DIOS - #Paulina1Millón" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <h3>Otras recetas</h3>
    <a href="perasAlMalbec.html">
        <ul>
            <li>Peras al Mabec</li>
        </ul>
    </a>
    <a href="../../index.html">
        <ul>
            <li>Volver al inicio</li>
        </ul>
    </a>
</body>
</html>